In [139]:
import pandas as pd
import sklearn as sns
import matplotlib.pyplot as plt
import numpy as np

In [140]:
dataset = pd.read_csv(r"C:\Users\ASISH\Downloads\advertising.csv")

In [141]:
dataset

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3   12.0
3    151.5   41.3       58.5   16.5
4    180.8   10.8       58.4   17.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

[200 rows x 4 columns]

In [142]:
dataset.isnull().sum()

TV           0
Radio        0
Newspaper    0
Sales        0
dtype: int64

In [143]:
dataset.describe()

               TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   15.130500
std     85.854236   14.846809   21.778621    5.283892
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   11.000000
50%    149.750000   22.900000   25.750000   16.000000
75%    218.825000   36.525000   45.100000   19.050000
max    296.400000   49.600000  114.000000   27.000000

In [144]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
dataset_scaler=ss.fit_transform(dataset)

In [145]:
dataset_df = pd.DataFrame(dataset_scaler, columns=dataset.columns, index=dataset.index)

In [146]:
input_data = dataset_df.iloc[:,:+1]
output_data = dataset_df['Sales']

In [147]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(input_data,output_data,test_size=0.2,random_state=45)

In [180]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor( max_depth= 5, n_estimators= 100 )
rf.fit(x_train,y_train)
rf.score(x_test,y_test)

0.7231343097249849

In [168]:
from sklearn.ensemble import GradientBoostingRegressor
model = GradientBoostingRegressor(learning_rate= 0.01, max_depth= 3, min_samples_split=5, n_estimators= 300, subsample= 1.0)
model.fit(x_train, y_train)
model.score(x_test,y_test)

0.7465296843900727

In [170]:
from sklearn.model_selection import GridSearchCV

params = {'n_estimators': [50, 100, 200], 'max_depth': [None, 5, 10,100,50,20]}
grid = GridSearchCV(RandomForestRegressor(), params, cv=5)
grid.fit(x_train, y_train)
print(grid.best_params_)

{'max_depth': 5, 'n_estimators': 50}

In [166]:
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_squared_error, r2_score
import numpy as np

# Define the model
gbr = GradientBoostingRegressor(random_state=42)

# Define hyperparameter grid
param_grid = {
    'n_estimators': [100, 200, 300],
    'learning_rate': [0.01, 0.05, 0.1],
    'max_depth': [3, 4, 5],
    'subsample': [0.8, 1.0],
    'min_samples_split': [2, 5]
}

# Grid search with 5-fold cross-validation
grid_search = GridSearchCV(estimator=gbr, param_grid=param_grid,
                           cv=5, scoring='r2', n_jobs=-1, verbose=1)

# Fit to training data
grid_search.fit(x_train, y_train)

# Best model
best_model = grid_search.best_estimator_

# Predict
y_pred = best_model.predict(x_test)

# Evaluation
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("Best Parameters:", grid_search.best_params_)
print("Mean Squared Error:", mse)
print("RÂ² Score:", r2)

Fitting 5 folds for each of 108 candidates, totalling 540 fits
Best Parameters: {'learning_rate': 0.01, 'max_depth': 3, 'min_samples_split': 5, 'n_estimators': 300, 'subsample': 1.0}
Mean Squared Error: 0.18458033376805108
RÂ² Score: 0.7465296843900727